header {
  width: 100%;
  background-image: linear-gradient(rgb(12, 4, 41), 77%, rgb(31, 132, 247));
  text-align: center;
  height: 70px;
  border-radius: 4px;
  padding: 10px;
  margin: 20px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

body {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.buttons {
 text-align: center;
 width: 100%;
 height: 50px;
 margin: 20px;
}

.questiondiv {
font-family: Arial, Helvetica, sans-serif;  
text-align: center;
padding: 20px;
font-size: 30px;
height: 50px;
margin: 20px;
}

#score {
  font-family: Arial, Helvetica, sans-serif;  
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: 30px;
  margin: 20px;
  }

#resultdiv {
  font-family: Arial, Helvetica, sans-serif; 
  width: 100%; 
  font-size: 30px;
  height: 50px;
  text-align: center;
}

.truefalse {
font-family: Arial, Helvetica, sans-serif;  
text-align: center;
margin: 20px;
}

.response {
  height: 30px;
  width: 80px;
  font-size: 15px;
  border-radius: 4px;
  margin: 5px;
  display: none;
}

.respVisible {
  display: inline;
  text-align: center;
}

.nextbtn{
  height: 30px;
  width: 80px;
  font-size: 15px;
  border-radius: 4px;
  background-color: rgb(55, 43, 226);
  color: #ffffff;
}
